gitops:
  enabled: true
  
  github:
    owner: "atakang7"
    repoName: "iot-analytics"
    repo: "https://github.com/atakang7/iot-analytics.git"
  
  pollInterval: "30"
  
  image: "quay.io/openshift/origin-cli:4.14"
  
  helm:
    release: "iot"
    chartPath: "iot-helm"
  
  imageScan:
    enabled: true
    failOnCritical: true
  
  java:
    path: "services"
    services:
      - ingestion
      - device-registry
  
  python:
    path: "services/workers"
    workers:
      - telemetry-worker
      - alert-worker
      - stream-worker
      - kpi-job